section#generalModule.module.container.px-5
    form(action='/servers/' + guild.id + '/general?_method=PUT', method='POST')
        .jumbotron.bg-transparent.pb-0
            h1.display-4.text-center General
        .form-group.my-5    
            .row
                .col-4
                    label Prefix
                    input.form-control(type='text', name='prefix', value=savedGuild.prefix,
                        maxlength='5', required)
                .col-4 
                    label Blacklisted Channels (CTRL to select multiple)
                    select.form-control(type='checkbox', name='blackListedChannelIds', multiple)
                        each channel of Array.from(guild.channels.cache.filter(c => c.type === 'text').values())
                            if savedGuild.blackListedChannelIds.includes(channel.id)
                                option(value=channel.id, selected) ##{channel.name}
                            else 
                                option(value=channel.id) ##{channel.name}
                        if savedGuild.blackListedChannelIds == ""
                            option(value="", selected) Disabled 
                        else
                            option(value="") Disabled 
                .col-4 
                    label DJ role
                    select.form-control(type='checkbox', name='DJ', single)
                        each role of Array.from(guild.roles.cache.values())
                            if savedGuild.DJ.includes(role.id)
                                option(value=role.id, selected) #{role.name}
                            else 
                                option(value=role.id) #{role.name}
                        if savedGuild.DJ == "disabled"
                            option(value="disabled", selected) Disabled 
                        else 
                            option(value="disabled") Disable
            .row 
                .col-4 
                    label Unlimited volume
                    select.form-control(type='checkbox', name='unlimited', single)
                        if savedGuild.unlimited == "enabled"
                            option(value="enabled", selected) Enabled 
                            option(value="disabled") Disable
                        else 
                            option(value="disabled", selected) Disabled 
                            option(value="enabled") Enable
        .d-flex.justify-content-center 
            button.btn.btn-success #[i.fas.fa-rocket] Submit